body {
  background-color: blueviolet;
}
#myCanvas {
  display: block;
  margin: auto;
  margin-top: 50px;
  opacity: 1;
  background-image: url("https://javtube.com/javpic/yua-mikami/48/yua-mikami-1.jpg");
  /* width: 800;
  height: 400; */
  /* object-fit: contain;
  background: url(mountain.jpg); */
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-color: gray;
}
/* .opacity {
  
} */
